@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.shadow-sm-discord {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px;
}

@layer components {
  .sidebar-container {
    @apply relative flex-shrink-0 w-[72px] pt-3 flex flex-col
    bg-gray-300 dark:bg-gray-900 items-center overflow-hidden;
  }

  .sidebar-icon-wrap {
    @apply relative mb-2 flex justify-center w-[72px];
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12
    hover:rounded-2xl rounded-3xl
    transition-all duration-150 ease-linear
    cursor-pointer shadow-sm;
  }

  .sidebar-icon-image {
    @apply relative flex items-center justify-center h-12 w-12
    hover:rounded-2xl rounded-3xl
    transition-all duration-150 ease-linear
    cursor-pointer;
  }

  .sidebar-icon-color {
    @apply bg-white hover:bg-green-500 dark:bg-gray-800 
  text-green-500 hover:text-white dark:hover:bg-green-500;
  }

  .sidebar-icon-color-main {
    @apply bg-white text-gray-800 dark:bg-gray-800 dark:text-white
    hover:bg-blue-500 hover:text-white dark:hover:bg-blue-500;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    dark:text-white dark:bg-gray-900 text-gray-900 bg-white
    text-xs font-bold 
    transition-all duration-100 opacity-0 scale-95 origin-left pointer-events-none;
  }

  .sidebar-icon:hover .sidebar-tooltip {
    @apply opacity-100 scale-100;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    w-8;
  }

  .base-container {
    @apply relative flex overflow-hidden items-stretch justify-start flex-auto;
  }

  .top-navigation {
    @apply relative z-50 flex flex-shrink-0 items-center py-0 px-2 w-full h-12
    bg-white dark:bg-gray-700 bg-opacity-90;
  }

  .top-navigation-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
  }

  .title-text {
    @apply text-black font-semibold text-base text-opacity-80 
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-gray-300 dark:bg-gray-600
    px-2 h-6 ml-0 mr-0 
    rounded-[4px]
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply text-sm w-full font-sans
    bg-transparent outline-none 
    text-gray-800  placeholder-gray-500;
  }

  .content-container {
    @apply relative flex flex-col min-h-0 min-w-0
    bg-white dark:bg-gray-700
    overflow-hidden;
  }

  .content-list {
    @apply absolute min-h-full min-w-full
    top-0 bottom-0 left-0 right-0 justify-end items-stretch
    overflow-y-scroll overflow-x-hidden;
  }

  .post {
    @apply w-full flex flex-row items-center justify-evenly
    py-4 px-8 m-0
    cursor-pointer;
  }

  .post-selected {
    @apply bg-green-400 dark:bg-gray-900
    shadow-md;
  }

  .post-content {
    @apply w-4/5 
    flex flex-col justify-start 
    ml-auto;
  }

  .post-text {
    @apply text-lg text-left text-gray-800 dark:text-white 
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply text-left font-semibold text-gray-800 dark:text-white mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center
    w-12 
    m-0 ml-auto mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-100 
    mb-auto mt-0 mx-0 
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-500 dark:text-gray-600 ml-2;
  }

  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    fixed left-88 right-8 bottom-2 
    rounded-lg shadow-lg 
    bg-gray-400 dark:bg-gray-600 px-2
    h-12;
  }

  .bottom-bar-input {
    @apply font-semibold w-full
    bg-transparent outline-none 
    ml-0 mr-auto
    text-gray-500  dark:text-gray-400 placeholder-gray-500
    cursor-text;
  }

  .channel-bar {
    @apply w-60 m-0 min-h-0 flex flex-col items-stretch justify-start relative flex-shrink-0 flex-grow-0
    bg-gray-100 dark:bg-gray-800 overflow-hidden;
  }

  .channel-block {
    @apply relative py-3 px-4 z-[3] items-center
    hover:bg-gray-300 transition duration-100;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start 
    p-1 m-0;
  }

  .channel-block-text {
    @apply text-base font-semibold h-6
    text-black dark:text-gray-400;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2
    transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-evenly
    mx-0 text-gray-500
    cursor-pointer;
  }

  .dropdown-header-text {
    @apply text-gray-500  text-opacity-90 
    text-lg font-semibold
    cursor-default;
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 text-opacity-90 text-lg font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
    mt-1 mr-auto ml-2
    transition duration-300 ease-in-out
    cursor-pointer;
  }

  .dropdown-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
    mr-auto 
    transition duration-300 ease-in-out 
    hover:text-pink-500 dark:hover:text-gray-500
    cursor-pointer;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply min-h-[40px] bg-gray-300;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  margin-bottom: 8px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
